* text=auto
*.md text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
VERSION text eol=lf
LICENSE text eol=lf

*.sh linguist-language=Shell
